@model MvcTakip.Models.tblKisi

@{
    ViewBag.Title = "KisiDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<div class="container">
    <div class="row row-footer">
        <div class="footer">
            <p class="adi">@Model.Adi @Model.Soyadi </p>
            <p class="bolum">@Model.tblBolum.Bolum </p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <img class="user-img" height="120" width="120" src="@Model.Foto" alt="">
            </div>
            <div class="row">
                <span class="link">
                    <a href="https://www.linkedin.com/in/mert-demir-6784b4168/" style="text-decoration: none;" target="_blank" ><i class="fab fa-linkedin-in"> </i> </a>
                    <a href="https://www.mert.demir96@hotmail.com/" style="text-decoration: none;" target="_blank"> <i class="far fa-envelope"></i></a>
                </span>
            </div>

        </div>
        <div class="col-md-9">
            <p><strong>Mezun Yılı :</strong> @Model.MezunYil <strong style="margin-left:20px;"> AGNO :</strong> @Model.Agno</p> 
            <hr>
            <p><strong>Staj 1 :</strong> @Model.Staj1</p>
            <p><strong>Staj 2 :</strong> @Model.Staj2</p>
            <p><strong>İş Yeri Eğitimi :</strong> @Model.IsYeriEgitimi</p>
            <p><strong>Çalıştığı Şirket :</strong> @Model.CalistigiYer</p>
            <hr>
            <p><strong>E-Posta :</strong> @Model.Eposta</p>
        </div>
    </div>
</div>

<!--
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="rounded-circle" width="150" height="150" src="@Model.Foto" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">@Model.Adi @Model.Soyadi</a>
            </h4>
            <h5>Agno: @Model.Agno</h5>
            <p class="card-text">Bölüm : @Model.tblBolum.Bolum</p>
            <p class="card-text">Staj 1 : @Model.Staj1</p>
            <p class="card-text">Staj 2 : @Model.Staj2</p>
            <p class="card-text">İş Yeri Eğitimi : @Model.IsYeriEgitimi</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Mezuniyet Yılı: @Model.MezunYil</small>
        </div>
    </div>
</div>
    -->
<style>

    .link{
        margin-top:20px;
        margin-left:60px;
    }
    .row .row-footer {
        background-color: #007791 !important;
        color: #fff;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .footer {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding-top: 34px;
        padding-right: 0px;
        padding-bottom: 34px;
        padding-left: 0px;
    }

        .footer .adi {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.287;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 50px;
        }

        .footer .bolum {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.287;
            margin-top: 7px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 50px;
        }

    .user-img {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        display: inline-block;
        position: relative;
        max-width: 100%;
        vertical-align: middle;
        border-top-color: initial;
        border-top-style: initial;
        border-top-width: 0px;
        border-right-color: initial;
        border-right-style: initial;
        border-right-width: 0px;
        border-bottom-color: initial;
        border-bottom-style: initial;
        border-bottom-width: 0px;
        border-left-color: initial;
        border-left-style: initial;
        border-left-width: 0px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        box-sizing: border-box;
        margin-left:20px;
    }
</style>


@*<div>
        <h4>tblKisi</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tblBolum.Bolum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblBolum.Bolum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblYetki.Yetki)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblYetki.Yetki)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Soyadi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Soyadi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CalistigiYer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CalistigiYer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Agno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Agno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MezunYil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MezunYil)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Eposta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Eposta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sifre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sifre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Staj1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Staj1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Staj2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Staj2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsYeriEgitimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsYeriEgitimi)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
