@model MvcTakip.Models.tblKisi

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="login">Üye Giriş</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-8">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control", @required = "", @type = "email" } })
                @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "" } })
                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Giriş" class="btn btn-info" />
            </div>
        </div>
    </div>
    if (ViewBag.Uyari == true)
    {
        <!--<span class="alert-danger h2"> @ViewBag.Uyari </span> -->
        <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
                <strong>Hata! </strong> Girdiğiniz Mail veya Şifre Yanlış
            </div>
        </div>
    }

}
<style scoped>
    .login {
        color: #17a2b8;
        margin-top: 10px;
    }
    .col-md-6{
        margin-left:20px;
    }
</style>
